<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @destination.name %>
  </h3>

  <p>
    <strong>Zip:</strong>
    <%= @destination.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @destination.description %>
  </p>

  <%= image_tag(@image.random) %>

  <div class="row">
    <h4>Forecast for <%= @destination.name %>:</h4>
    <p>Date:  <%= Date.today %>
    <p>Current Temp:  <%= @response.current_temp %>
    <p>High Temp:  <%= @response.high_temp %>
    <p>Low Temp:  <%= @response.low_temp %>
    <p>Summary:  <%= @response.summary %>
  </div>

  <div class="row">
    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
</div>
